.choresText {
   color: green;
   font-family: 'Courier New', Courier, monospace;
   text-decoration: underline;
   font-style: italic;
}

.choresHeading {
   color: green;
   font-family: 'Courier New', Courier, monospace;
}